
body {
    background-color: rgba(182, 247, 255, 0);
    font-family: "Baghdad";
    margin: 0 0 0 0;
}

h1 {
    font-size: 180% ;
    font-weight: lighter;
    font-style: normal;
}
.header {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    background-image: url("https://www.wpeka.com/rgh/wp-content/uploads/2016/08/marble_texture4504-1.jpg");
    background-repeat: repeat-x;
    color: #FFFFFF;
    text-transform: uppercase;
}

table tr td{
    background: #FFFFFF url("https://www.talonx.com/file/2013/09/polyagonal-web-design.jpg")
    no-repeat left top;
    border-color: black;
    border-style: solid;
    border-spacing: 0px;
    border-width: medium;
}

thead {
    text-align: left;
    text-decoration: underline;
}

section p {
    text-indent: 50px;
    font-variant: small-caps;
}

#emptyTable tr td{
    border: medium solid red;
}

ul {
    list-style-type: square;
    list-style-position: inside;
}

#randm {

    list-style-image: url("https://www.spriters-resource.com/resources/sheet_icons/72/75568.png");
    font: normal small-caps bold 250% "Comic Sans MS";
}

#lijst {
    list-style: circle outside;
}